
body{
  font-family: "Montserrat";
  text-align: center;

  background-color:	#fafad2  ;
}

/********************************** HEADINGS & Paragraphs **********************************/
h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
/* h1 */
.big-heading{
  font-family: "Montserrat";
  font-weight: 900;
  margin-top: 0;
  line-height: 1.5;
  font-size: 3rem;
  transition: 1s;
  padding-bottom: 30px;
}
/* h2 */
.pricing-tag{
  font-size: 2rem;
  color: #800080;
}

.quote-text{
  font-family: serif;
  font-weight: 600;
  font-size: 1.5rem;

}

/* h3 */

.h3s{
  font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color:#800080;


}

.final-h3{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 1.5rem;
  margin: 0 3% 3% ;
  color: black;
}

/* Paragraph */
p{
  color: #800080;
}

/********************************** DIVs **********************************/

.feature-div{

  font-size: 1rem;
  padding: 5% 4%;
}

.container-fluid{
  padding: 3% 15% 2.5%;
  text-align: center;


}








/********************************** NAVBAR **********************************/

.navbar-brand{
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 3rem;
  color: white;
  padding-left: 50px;
  bottom: 20px;
}
.navbar{
  transition: .5s;
  padding-bottom: .6rem;
  border-bottom-right-radius:10rem 5rem;
  /* border-bottom-left-radius: 2rem 4rem; */
}

.nav-item{
  padding: 0 20px;
}

.nav-link{
  font-size: 1.25rem;
  font-family: "Montserrat-light";
}


/********************************** BUTTONS and BOOTSTRAP CARDS **********************************/

.download-buttons{
  margin: 5% 1% 5%;
}

.book-now{
  font-weight: 900;
  transition: .6s;
  width: 15rem;
  margin-top: 0;
  border-radius: 5px;
}

.carousel-item{
  padding: 6% 30% 0;
  /* height: 100%; */
  /* margin:13% 20%; */
  transition: 1.5s;
  color:#000000;
}


.all-cards{
  padding-bottom: 23%;
}

.card  {
  background-color: 	#fafad2;
}


.pricing-coloumn{
  padding: 2%;
}

.booknow-pricing{
  width: 100%;

}



/********************************** IMAGES and ICONS **********************************/


.social-media-icons{
  padding: 2% 1.5%;
}




.feature-icons{
  color:#ef8172;
  margin: 1rem;
}

.company-logos{
  width: 15%;
  margin: 0 20px;
}


/********************************** MEDIA QUERY **********************************/

@media (max-width: 1015px){

.big-heading{
  color: black;
  padding-left: 30px;
  text-align: left;
  font-size: 30px;

  }

  .final-h3{
    font-size: 1rem;
    padding-top: 3rem;
  }

  .carousel-item{
  text-align: left;
  /* padding-bottom: 50%; */
  }

  .quote-text{
    font-family: serif;
    font-weight: 300;
    font-size: 1.5rem;

  }



  #title{
    text-align: left;
    padding-bottom: 5rem;
  }
  /* ##thought{
    padding: 30% 0 3% 0;
    font-family: serif;
  } */




  .nav-item{
    text-align: left;
  }

  .download-buttons{
    margin: 2% 0;
    text-align: left;
  }
  
    .book-now{
     text-align:left;
  }




}



/********************************** HOVER EfFECT **********************************/
.big-heading:hover{
  	color: #800080;	;
  transition-duration: .5s;
}


.navbar:hover{
  background-color: #fafad2;
  transition-duration: .5s;

}

.book-now:hover{
/*   margin: 18% 5%; */
  width: 21rem;
  background-color: black;
  color: #800080;
  font-weight: 900;
  transition-duration: .6s;
}


.feature-icons:hover{
  color: #ff4c68;
}

.carousel-item:hover{
color: 	#2f4f4f;
transition-duration: 1.5s;
}


/* .social-media-icons:hover{
  color: blue  gold;
  font-size: 20px;
} */
